@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  color: #000000;
}
